{% extends 'main_home.html' %}
{% load static %}
{% block content %}
    <div class="Container">
{#    post container#}
     <div class="">
         <div>
             Image and Username
         </div>
         <div>
             Caption
         </div>
     </div>
{#   main post that will contain pictures #}
     <div>
         <div>
             ImageOne
         </div>
         <div>
             Image two
         </div>
     </div>
{#        comments & likes about the post #}
     <div>
         <div>likes/dislikes</div>
         <div>Comments</div>
     </div>
    </div>
{% endblock content %}